@model Videos
@{
    ViewData["Title"] = "Home Page";
}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Cairo:wght@200&display=swap" rel="stylesheet">

<h1 style=" font-family: 'Tajawal', sans-serif; text-align: center;">إضافة فيديو </h1>

<br />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div clss="row">
                <form class="forms-sample" asp-action="Create" asp-controller="CPVideos" method="post">
                    <div class=" col-md-6 grid-margin stretch-card" style="font-family:'Tajawal', sans-serif;">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="exampleInputEmail3">عنوان الفيديو</label>
                                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="عنوان الفيديو" asp-for="VideoTitle">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">رابط الفيديو</label>
                                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="رابط الفيديو" asp-for="VideoLink">
                                </div>
                                <div class="form-group">
                                    <label>موضع الفيديو</label>
                                    <select class="form-control" asp-for="VideoPosition">
                                        <option value="الأعلى">الأعلى</option>
                                        <option value="الأسفل"> الأسفل</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">إظهار الفيديو</label>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" asp-for="status" class="form-check-input">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">إضافة</button>
                    <button type="submit" class="btn btn-danger mr-2"><a asp-action="Index" asp-controller="CPVideos" style="color:white"> إلغاء</a></button>
                </form>
            </div>
        </div>
    </div>
</div>



