@model hr.ViewModel.DiscountsViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Cairo:wght@200&display=swap" rel="stylesheet">

<h1 style=" font-family: 'Tajawal', sans-serif; text-align: center;">إضافة عروض الموظفين </h1>

<br />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div clss="row">
                <form class="forms-sample" asp-action="create" asp-controller="CPOffers" method="post" enctype="multipart/form-data">
                    <div class=" col-md-6 grid-margin stretch-card" style="font-family:'Tajawal', sans-serif;">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>اسم الجهة</label>
                                    <input type="text" class="form-control" placeholder="اسم الجهة" asp-for="Name">
                                </div>
                                <div class="form-group">
                                    <label>تعليق مختصر</label>
                                    <input type="text" class="form-control" placeholder="تعليق مختصر" asp-for="description">
                                </div>
                                <div class="form-group">
                                    <label>تاريخ البداية</label>
                                    <input type="datetime-local" class="form-control" placeholder="تاريخ البداية" asp-for="StartDate">
                                </div>
                                <div class="form-group">
                                    <label>تاريخ النهاية</label>
                                    <input type="datetime-local" class="form-control" placeholder="تاريخ النهاية" asp-for="EndDate">
                                </div>
                                <div class="form-group">
                                    <label>رابط توتر</label>
                                    <input type="text" class="form-control" placeholder="رابط توتر" asp-for="TwitterUrl">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">رابط فيس بوك</label>
                                    <input type="text" class="form-control" placeholder="رابط فيس بوك" asp-for="FacebookUrl">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">رابط انستقرام</label>
                                    <input type="text" class="form-control" placeholder="رابط انستقرام" asp-for="InsatgramUrl">
                                </div>
                                <div class="form-group">
                                    <label>رابط سناب</label>
                                    <input type="text" class="form-control" placeholder="رابط سناب" asp-for="SnapchatUrl">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image">>شعار الجهة</label>
                                    <input class="form-control" placeholder="شعار الجهة" asp-for="Image">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">إظهار </label>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" value="حفظ">حفظ التعديلات</button>
                    <button type="submit" class="btn btn-danger mr-2"><a asp-action="Index" asp-controller="CPOffers" style="color:white"> إلغاء التعديلات</a></button>
                </form>

            </div>
        </div>
    </div>
</div>


