@model IEnumerable<IdentityUser>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Cairo:wght@200&display=swap" rel="stylesheet">

<h1 style=" font-family: 'Tajawal', sans-serif; text-align: center; color:brown;">إضافة مستخدم</h1>

<form class="form-inline" method="post">
    <div class="form-group">
        <div class="input-group">            
            <input type="text" name="Search" id="Search" class="form-control" placeholder="بحث">&ensp;
            <button id="buttonsubsribe" class="btn btniconB" type="submit">بحث</button> &ensp;
            <a href="@Url.Action("AddUser", "CPAddUser")" class="btn btniconB" style="text-align:center; color:white;">
                إضافة مستخدم
            </a>
        </div>
    </div>
</form>
<br />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered" style="font-family:'Tajawal', sans-serif; text-align:center">
                <thead>
                    <tr>
                        <th> البريد الالكتروني </th>
                        <th> اسم المستخدم </th>
                        <th> عمليات </th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td> @item.UserName </td>

                            <td>
                                <button type="submit" class="btn btn-primary mr-2">
                                    <a asp-action="Edit" asp-controller="CPAddUser"><span style="color:white"> تعديل</span></a>
                                </button>   |
                                <button type="submit" class="btn btn-primary mr-2">
                                    <a asp-action="delete" asp-controller="CPAddUser" asp-route-id="@item.Id"><span style="color:white"> حذف</span></a>
                                </button>

                                @* <form asp-action="delete">
                                    <button type="submit" class="btn btn-primary mr-2">
                                        <i data-toggle="tooltip">حذف</i>
                                    </button>
                                </form> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade " id="DeleteModel" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">هل أنت متأكد من حذف المدينة</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>&emsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء الحذف</button>
            </div>
        </div>
    </div>
</div>

<!-- partial -->
<!-- main-panel ends -->
